<mat-card class="mat-elevation-z4 product">
  <mat-card-header>
    <mat-card-title>{{product.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image class="img" src="{{product.url}}" routerLink="/product-detail/{{product.id}}">
  <mat-card-content>
    <p>
      {{product.description}}
    </p>
    <p>
      ${{product.price}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <mat-select [(ngModel)]="selectedQuantity" name="quantity" [(value)]="selectedQuantity">
        <mat-option *ngFor="let n of quantityList" [value]="n">
          {{n}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <div fxFlex></div>
  <button mat-raised-button color="primary" (click)="addToCart()">Add To Cart</button>

  </mat-card-actions>
</mat-card>
