<div class="cart-main" *ngIf="carts.length > 0; else emptyCartTemplate" fxLayoutAlign="center center" fxLayout.xs="column">
  <div  fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="column" fxFlex="50%" fxLayoutGap="32px">
        <app-shopping-cart-item fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="25%" *ngFor="let cart of carts"  [cart] = 'cart' (updateTotal)="updateTotal($event)"></app-shopping-cart-item>
      </div>
        <form #form="ngForm" (ngSubmit)="submitCart()" class="detail-item" fxFlex fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="16px grid">
          <div style="display: flex; flex-direction: column;">
            <div style="margin-bottom:15px">Total: {{total_price | currency }}</div>
            <mat-form-field appearance="outline">
              <mat-label>Full name</mat-label>
              <input matInput placeholder="Full name" [(ngModel)]="full_name" name="full_name" required minlength="3">
              <mat-icon matSuffix>person_pin</mat-icon>
              <mat-hint>minimum 3 characters</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <input matInput type="text" placeholder="Address" [(ngModel)]="address" name="address" required minlength="6">
              <mat-icon matSuffix>home</mat-icon>
              <mat-hint>minimum 6 characters</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Credit card number</mat-label>
              <input matInput type="number" placeholder="Credit card number" [(ngModel)]="credit_card_number" name="credit_card_number" required minlength="16">
              <mat-icon matSuffix>credit_card</mat-icon>
              <mat-hint><p>minimum 16 digits</p>We will never share your payment details with anyone else.</mat-hint>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" style="margin-top:50px" [disabled]="form.invalid">Submit</button>
          </div>
      </form>
  </div>
</div>

<ng-template #emptyCartTemplate>
  <div fxLayout="column" fxLayoutGap="32px" fxLayoutAlign="center center" style="height:75%">
    <p>Cart is empty!</p>
    <p>
    <button mat-raised-button color="primary" style="margin-top:10px" routerLink="/">Back to product list</button>
  </p>
  </div>
</ng-template>
